{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <!-- Hero Section -->
    <section id="hero" class="hero section">

        <div id="hero-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

            <div class="carousel-item active">
                <img src="{{ asset('template/assets/img/hero-carousel/hero-carousel-1.jpg') }}" alt="">
                <div class="container">
                    <h2>Bienvenue à l'Hopital sud Paris</h2>
                    <p>
                        Inauguré en 1995, l'hôpital privé HSP (Hôpital Sud Paris) est le fruit du rattachement de plusieurs
                        établissements indépendants au pôle territorial Paris Sud du groupe GDH. Situé dans la commune de
                        Marreuil sur Seine, à 25km de Paris, l'hôpital compte 90 praticiens et dispose de 289 lits.
                    </p>
                    <p>
                        Associant des compétences diverses et complémentaires, l'établissement possède : un pôle de chirurgie,un pôle de médecine,
                        un pôle de cancérologie,un pôle de maternité,un pôle d'imagerie médicale et un service d'urgences 24h/24 7j/7.
                    </p>
                    <a href="#" class="btn-get-started">Read More</a>
                </div>
            </div><!-- End Carousel Item -->

        </div>


    </section><!-- /Hero Section -->
    <section>
        <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Nos missions</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Nos visions</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    </div>
                </div>
            </div>
        </div>

    </section>


{% endblock %}
