{% extends 'base.html.twig' %}

{% block title "Fiche Entreprise : "~ ficheEntreprise.nomEntreprise %}

{% block body %}
    <h1>{{ ficheEntreprise.nomEntreprise }}</h1>
    {{ form(form) }}
{% endblock %}