<form action="{{ path('app_admin_delete', {'id': user.id}) }}" method="POST">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button type="submit">Supprimer</button>
</form>