{% extends 'base.html.twig' %}

{% block title %}Modifier Votre Mot de Passe{% endblock %}

{% block body %}
    <h1>Modifier Votre Mot de Passe</h1>

    {{ include('modifMdp/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('home') }}">back to list</a>
{% endblock %}
