{% extends 'base.html.twig' %}

{% block title %}Edit QuestionSupport{% endblock %}

{% block body %}
    <h1>Edit QuestionSupport</h1>

    {{ include('question_support/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reponse_support_index') }}">back to list</a>

    {{ include('question_support/_delete_form.html.twig') }}
{% endblock %}
