{% extends 'base.html.twig' %}
{% block title %}Créer une fiche entreprise{% endblock %}
{% block body %}
    {{ form(form) }}
    <a class="btn btn-primary" href="{{ path('app_forum') }}">Retour</a>
{% endblock %}